<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <meta charset="ISO-8859-1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
      .bottom-page {
  background-color: #E96C62;
  margin-top: 120px;
  padding: 20px 0;
  color: #fff;
}

.payments-section img {
  height: 30px;
  width: auto;
}

.links-section p {
  margin: 0;
}

.links-section a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.links-section a:last-child {
  margin-right: 0;
}

.logo-section {
  display: flex;
}

.logo-section img {
  height: 30px;
  width: auto;
  margin-left: 10px;
}
      </style>
</head>
<body style="font-family: 'Inter', sans-serif;">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-black" style="margin-top:30px">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Airsets</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/store'}">Shop All</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/contact'}">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/track'}">Track Your Order</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/checkout'}" th:text="'Bag (' + ${cart} + ')'">Bag (0)</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 100px;">
            <p style="text-align: center; font-size: 40px; color: #66A5C0;"><strong>Store</strong></p>
        </div>
        <div style="margin-top: 20px;" th:each="product:${products}" class="col-md-3">
            <div class="card border-0" style="width: 18rem;">
                <a th:href="@{'/product/' + ${product.Product_Id}}"><img th:src="https://hicitypods.com/wp-content/uploads/2021/11/AirPods-White-Clean-gen-2.png" class="card-img-top" alt="..." ></a>
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center; margin-bottom: 10px; font-size: 25px; color:#7A7A7A" th:text="${product.Product_Name}"></h5>
                    <h5 class="card-title" style="text-align: center; margin-bottom: 10px; font-size: 40px; color:#E96C62;" th:text="${product.price}">$</h5>
                    <a th:href="@{'/add/' +1 ${product.Product_Id}}" class="btn" style="display: flex; justify-content: center; color:#515151; background-color:#EbE9EB;">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-page">
    <div class="container" style="  display: flex;
    justify-content: space-between;
    align-items: center;">
      <div class="payments-section">
        <img src="https://hicitypods.com/wp-content/uploads/2021/11/MethodsOfPaymentC-1-copy.webp" alt="Payments Methods">
      </div>
      <div class="links-section">
        <p>
          <a href="/track">Track your order</a> |
          <a href="/privacy-policy">Privacy Policy</a> |
          <a href="/refund-returns">Refund and Returns Policy​</a>
        </p>
      </div>
      <div class="logo-section">
        <a href="https://www.reddit.com"><img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6cc3c481a15a141738_icon_clyde_white_RGB.png" alt="Reddit"></a>
        <a href="https://discord.com"><img src="https://www.redditinc.com/assets/images/site/reddit-logo.png" alt="Discord"></a>
      </div>
    </div>
  </div>
</body>
</html>